@use 'abstracts/breakpoints';
//colors
// ### Primary
$primary-300: hsl(31, 77%, 52%);
$primary-350: hsl(31, 55%, 75%);
$primary-400: hsl(184, 100%, 22%);
$primary-500: hsla(179, 100%, 13%, 0.525);
$primary-900: hsl(179, 100%, 13%);

// ### Neutral

//Transparent white (paragraphs):
$neutral-100: hsla(0, 0%, 100%, 0.75);
//Very light gray (background, headings, buttons)
$neutral-200: hsl(0, 0%, 95%);

//body:
$fs-500: 0.9375rem;

//font-weight
$fw-semi-bold: 600;
$fw-bold: 700;

//font family
$big-shoulder: 'Big Shoulders Display', cursive;
$lexend-deca: 'Lexend Deca', sans-serif;

