@use 'abstracts/variables' as v;

.btn {
	margin-block: .1875rem 0;
	padding: 0.8125rem 0.9375rem;
	max-width: 9.0625rem;

	border-radius: 1.875rem;
	background-color: v.$neutral-200;

	text-decoration: none;
	font-family: v.$lexend-deca;
	text-align: center;
	font-size: 15px;

	cursor: pointer;
	opacity: 0.85;
}
