@use 'abstracts/variables' as v;

.btn {
	padding: 1.25rem 1.875rem;
	// width: 9.375rem;
	// height: 3.125rem;

	border-radius: 1.875rem;
	background-color: v.$neutral-200;

	text-decoration: none;
	font-family: v.$lexend-deca;
	cursor: pointer;
}
