@use 'abstracts/breakpoints' as b;

.grid-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.align-self--start {
align-self: start;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
