@use 'abstracts/variables' as v;

.guess-number {
	&__wrapper {
		grid-template-columns: clamp(10rem, 8em + 40vw, 37.5rem);
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		width: 100%;

		&-buttons {
			display: flex;
			justify-content: space-between;

			width: 100%;
		}
	}

	&__input {
		height: 90%;

		background-color: transparent;
		border: none;

		text-align: center;
		color: v.$neutral-200;

		&-box {
			border: 1px solid v.$neutral-200;
			border-radius: 1.875rem;
		}
	}
}

.correct-number__box {
	min-height: 6.25rem;
	width: 100%;

	border: 2px solid v.$neutral-200;
	border-radius: 0.625rem;
}
