@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

.main__wrapper {
	display: grid;
	align-items: center;
	justify-items: center;

	padding: 0 1.565rem 5.5rem;
	max-width: clamp(20.3125rem, 20.3125rem + 60vw, 60.625rem);
}

.even-sections {
	min-height: clamp(27.5rem, 20rem + 30vw, 31.25rem);
}

.even-boxes {
	display: grid;
	grid-template-rows: 30% 1fr;
	gap: 1.25rem;
	align-items: start;

	padding: 2.1875rem 3rem 47px;
	min-height: 100%;

	max-width: 20.3125rem;
	&__container {
		display: flex;
		flex-direction: column;
		flex: 1;
		border-radius: 0.625rem;
		overflow: hidden;

		@include b.respond-to('medium') {
			flex-direction: row;
		}
	}
	&__description-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1.5625rem;

		height: 100%;
	}
}
.attribution {
	height: 2rem;

	color: hsl(228, 45%, 44%);

	font-size: 11px;
	text-align: center;
}

