@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

.main__wrapper {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;

	padding: 1.875rem 1.5625rem 5.5rem;
}

.even-boxes {
display: grid;
grid-auto-flow: row;
gap: 1.6875rem;

padding: 2.1875rem 3rem 47px;
	&__container {
		border-radius: .625rem;
		overflow: hidden;
	}
}
.attribution {
	height: 2rem;

	color: hsl(228, 45%, 44%);

	font-size: 11px;
	text-align: center;

}