@use 'abstracts/variables' as v;
@use 'abstracts/breakpoints' as b;

.main__wrapper {
	padding: 0 1.5625rem 5.5rem;
}

.attribution {
	height: 2rem;

	color: hsl(228, 45%, 44%);

	font-size: 11px;
	text-align: center;

}