@use 'abstracts/breakpoints' as b;
@use 'abstracts/variables' as v;


.pig-game__wrapper {
	grid-template-columns: clamp(6.25rem, 2rem + 70vw, 37.5rem);
	gap: 1rem;

	min-height: clamp(300px, 100px + 30vw, 600px);
	
	background-color: v.$primary-900;
}

.dice {
	&__img {
		display: none;

		&[data-visible='visible'] {
			display: block;
			border-radius: 1.875rem;
			width: clamp(3rem, 3rem + 20vw, 8.75rem);
		}
	}
}

.player--active {
    padding: 1rem;

    border-radius: 1.875rem;
}

